*{
    -fx-font-family: Segoe UI Semibold;
}

.header{
    -fx-background-color: #191308;
    -fx-border-bottom-color: #BB5511;
    -fx-border-bottom-width: 5px;
}

.Button{
    -fx-border-color: #191308;
    -fx-border-width: 5;
    -fx-background-color: #BB5511;
    -fx-font-size: 30px;
    -fx-text-fill: #EDFFEC;
    -fx-padding: 5px 12px 5px 12px;
}

.Button:hover{
    -fx-background-color:#A84D10;
    -fx-cursor: hand;
}

.menuUnitItem{
    -fx-text-fill:#EDFFEC;
    -fx-font-size: 16;
}
.scroll-bar:vertical .track{
    -fx-background-color :#646E78;
    -fx-border-color :#646E78;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color :derive(#646E78,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.TableView {
    -fx-border-color:#191308;
    -fx-border-width: 2;
    -fx-background-color:#646E78;
}

.table-row-cell:odd{
    -fx-background-color:#646E78;
}
.table-row-cell:even{
    -fx-background-color:#84828F;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #EDFFEC;
}